node_modules/
*.sass-cache*
*.map
*.DS_Store
*.zip

public/all-jsx.js
public/all-non-jsx.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
appConfig.json

*.css
