@import url(https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans);

/* TODO: This declaration should be optimized; it is too broad.*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body, html {
  font-family: Open Sans;
  background-color: #e9eaed;
}

.app-wrapper {
  position: relative;
}

.main-content {
  padding: 0 1rem;
  width: 99%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.link-danger {
  color: crimson;
}

.link-success {
  color: #5E9DC8;
}

.small {
  width: 3em;
}

.disabled {
  opacity: .25;
  cursor: default;
}

.loading {
  width: 1.5em;
  position: relative;
  top: 2.5em;
  left: 1em;
}

.hidden {
  display: none !important;
}

.clearfix {
  display: table;
  clear: both;
}
