@font-face{
  font-family:'MuseoSans';
  src:url("http://s3.amazonaws.com/atlasobscura-fonts/museosans-300-webfont.eot");
  src:url("http://s3.amazonaws.com/atlasobscura-fonts/museosans-300-webfont.eot?#iefix") format("embedded-opentype"),
  url("http://s3.amazonaws.com/atlasobscura-fonts/museosans-300-webfont.woff") format("woff"),
  url("http://s3.amazonaws.com/atlasobscura-fonts/museosans-300-webfont.ttf") format("truetype"),
  url("http://s3.amazonaws.com/atlasobscura-fonts/museosans-300-webfont.svg#MuseoSans300Regular") format("svg");
  font-weight:300;
  font-style:normal;
}

/* TODO: This declaration should be optimized; it is too broad.*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  cursor: pointer;
}

body, html {
  font-family: MuseoSans;
}

.app-wrapper {
  position: relative;
}

main {
  width: 99%;
  max-width: 30em;
  margin: 0em auto 5em auto;
}

.hidden {
  display: none;
}

.link-danger {
  color: crimson;
}

.link-success {
  color: #5E9DC8;
}

.small {
  width: 3em;
}

.disabled {
  opacity: .25;
  cursor: default;
}

.loading {
  width: 1.5em;
  position: relative;
  top: 2.5em;
  left: 1em;
}

.hidden {
  display: none !important;
}
