* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

$pad: 20px;

.valign-wrapper {
  display: table;
  height: inherit;
}

.valign-inner {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
}

.grid {
  margin: 0 0 $pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $pad;
}

.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% * ($i / 12);
  }
}

.col-last {
  padding-right: 0;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}
