.habit {
  position: relative;
  text-align: center;
  max-width: 50em;
  width: 100%;
  margin: 2rem 0 .75em 0;
  cursor: pointer;
  border-radius: .25em;
  background-color: #fff;
}

.habit:first-of-type {
  margin-top: 2.5rem;
}

.habit:last-of-type {
  margin-bottom: 5rem;
}

.habit-bar-container {
  position: relative;
  width: 100%;
  height: 2.5em;
}

.habit-title {
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 100%;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

.demote .habit-title {
  color: crimson;
}

.habit-actions [class*='link-'] {
  padding: 1em 2em;
  display: inline-block;
}

/* Add space around actions bar to prevent accidental taps */
.habit-actions {
  background-color: #f6f7f8;
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 .15em 1px rgba(0, 0, 0, .05);
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  vertical-align: middle;
}

.habit-icon-inner {
  display: inline-block;
  margin-top: .15em;
  background-image: url(../images/down-arrow.png);
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;

  padding-bottom: 1em;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transition: all ease .5s;
  opacity: .5;
}

.habit-action-icon-expanded .habit-icon-inner {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: translate(-.25em,.25em)
}

.habit:hover .habit-icon-inner {
  opacity: .75;
}

.habit-level {
  left: 0em;
  top: .35em;
  padding-left: 2em;
  opacity: .6;
}

.lvl-text {
  font-size: .9em;
}

@media (max-width: 40rem) {
  .lvl-text {
    display: block;
    font-size: .75em;
  }
}

$trophy-icon-size: 1em;

.habit-level:after {
  content: '';
  display: inline-block;
  background: url(https://cdn3.iconfinder.com/data/icons/general-outline/128/awards.png);
  height: $trophy-icon-size;
  width: $trophy-icon-size;
  background-size: cover;
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -($trophy-icon-size / 2);
}

.demote .habit-level:after {
  background: url(../images/danger.png) no-repeat;
  background-size: cover;

}

.habit-action-icon {
  right: 0px;
}

.habit-total {
  background-color: #fff;
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  top: 0px;
  padding: .5em;
  border-bottom-right-radius: .5em;
}

.dueDateDisplay {
  color: #666;
  position: absolute;
  top: -1.5rem;
  font-size: .75rem;
  right: 0;
}
