.landing-hero {
  position: fixed; 
  height: 100%;
  padding-left: 7%;
  width: 100%;
  background: url(http://s21.postimg.org/mhqau0jqd/fb_preview.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-color: #eee;
}

.landing-hero .valign-wrapper, 
.landing-hero .valign-inner {
  height: 100%;
}

.fb-signup {
  background: url(/images/fb-signup.png);
  background-repeat: no-repeat; 
  background-size: contain;
  width: 15rem;
  height: 4rem; 
  display: inline-block;
  margin-top: 1rem;
}

.landing-tagline {
  max-width: 30rem;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
  padding: .5rem 2rem;
  text-shadow: 2px 2px 10px rgba(0,0,0,.75);
  font-family: 'Poiret One', cursive;
}

@media (max-width: 600px) {
  .landing-tagline {
    font-size: 3rem;
    padding-right: 0rem;
    padding-bottom: 0;
    width: 90%;
    text-shadow: 2px 2px 7px rgba(0,0,0,1);
  }
}
