.messages-wrapper li {
  display: block;
}

.messages-wrapper {
  background-color: #f6f7f8;
  position: fixed;
  opacity: 0;
  z-index: 3;
  right: .5em;
  bottom: .5em;

  transition: all ease .5s;
  max-width: 20em;
  width: 100%;
  overflow: hidden;
  padding: 1em;
  height: 6em;
  display: block;

  color: #000;
  font-size: .9em;
  border: solid #5E9DC8 2px;
  border-radius: .5em;
  margin-top: 0;
  margin-bottom: 0;
}

.messages-show {
  opacity: 1;
}
