.profile-picture {
  height: 1.75em;
  margin-top: .35em;
  border-radius: 100%;
}

.life-score-wrapper {
  text-align: right;
}

.life-score-wrapper .user-name {
  display: block;
  font-size: .85em;
  margin-top: .8em;
  margin-right: 1em;
}

