.progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2.25em;
  width: 100%;
  background-color: #DCF0F7;
  transition: all ease .5s;
  box-shadow: 0 0 .1em #999;
  background-color: rgba(#3b5998, .25);
}

/*
.progress-warn {
  background-color: rgb(255,255,153);
}

.progress-danger {
  background-color: rgba(255,0,0,.4);
}
*/

.progress {
  border-radius: .25em;
}
