.progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2em;
  width: 100%;
  background-color: #DCF0F7;
  transition: all ease .5s;
}

.progress-warn {
  background-color: rgb(255,255,153);
}

.progress-danger {
  background-color: rgba(255,0,0,.5);
}

.progress {
  border-radius: .25em;
}
